body {
  font-family: 'Goudy Old Style',  sans-serif;
  background: #fff;
  margin: 0
}

.container {
  max-width: 660px;
  margin: 0px auto;
  padding: 20px;
}

header {
  background: #9855d4;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h2 {
  font-weight: bold;
  padding: 20px 40px;
}

h3 {
  font-size: 1.5em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.incentive {
  margin-bottom: 2em;
  padding: 0px 40px;
}

.top {
  padding: 30px;
  border: 10px solid #9855d4;
}

.top h2 {
  padding: 0;
  font-size: 12px; text-transform: uppercase;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.maplink,
.program {
  background: #bca1d4;
  padding: 3px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.nah {
  color: #d4736e;
  margin-top: 5px;
}

.thx {
  text-decoration: none;
}

.maplink {
  background: #bdd46e;
}
